<div class="row ml-3">
  <div class="col-9 mt-3 ">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/MovieImage1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">MoonLight</h5>
            <p class="card-text">Moonlight is a 2016 Amcerican coming-of-age drama film written and...</p>
            <a href="#" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/MovieImage2.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Joker</h5>
            <p class="card-text">In Gotham City, mentally troubled comedian Arthur Fleck...</p>
            <a href="#" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/MovieImage3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Hill</h5>
            <p class="card-text">THE HILL is a true crime melodrama with strong horror elements...</p>
            <a href="#" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/MovieImage3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Hill</h5>
            <p class="card-text">THE HILL is a true crime melodrama with strong horror elements...</p>
            <a href="#" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/MovieImage3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Hill</h5>
            <p class="card-text">THE HILL is a true crime melodrama with strong horror elements...</p>
            <a href="#" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xl-3">
        <div class="card">
          <img class="card-img-top" src="assets/images/MovieImage3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Hill</h5>
            <p class="card-text">THE HILL is a true crime melodrama with strong horror elements...</p>
            <a href="#" class="btn btn-primary">More Details..</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3 mt-4">
    <div class="card" style="cursor:default">
      <h5 class="card-header">Follow Us</h5>
      <div class="card-body">
        <!-- sidebar-content  -->
        <div class="center">
          <a href="https://www.facebook.com/AFiFYZz/" target="_blank" style="margin-right: 8px;">
            <i class="fa fa-facebook-f" style="font-size:xx-large;" title="https://www.facebook.com/AFiFYZz/"></i>
          </a>
          <a href="https://twitter.com/AFiFYZz" target="_blank" style="margin-right: 8px;">
            <i class="fa fa-twitter" style="font-size: xx-large;" title="https://twitter.com/AFiFYZz"></i>
          </a>
          <a href="https://www.youtube.com/channel/UC1RSh4-3BgmjO5AXyBOPAVg/featured?view_as=subscriber" target="_blank"
            style="margin-right: 8px;">
            <i class="fa fa-youtube" style="font-size: xx-large;" title="https://www.youtube.com/channel/Afify"></i>
          </a>
          <a href="https://www.twitch.tv" target="_blank" style="margin-right: 8px;">
            <i class="fa fa-twitch" style="font-size: xx-large;" title="https://www.twitch.tv"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="card mt-3" style="cursor:default">
      <h5 class="card-header">
        Categories
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">Action</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">Comedy</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">English</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">Arabic</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">Series</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">2020</a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">2019</a>
          </div>
          <div class="col-lg-6">
            <a href="#" class="fixed-size btn btn-primary mt-3">Romance</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-menu></app-footer-menu>
