<div class="container mt-4 mb-4">
  <h5>Reset Password</h5>
  <hr class="mb-4" />
  <div class="login container">
    <div class="col-md-5">
      <form [formGroup]="userForm" (ngSubmit)="ResetPassword()">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" required minlength="6" class="form-control" id="password"
            placeholder="Password"
            [ngClass]="{'is-invalid' : this.userForm.get('password').touched && !this.userForm.get('password').valid}">
          <div class="text-danger"
            *ngIf="this.userForm.get('password').touched && !this.userForm.get('password').valid">
            <div *ngIf="this.userForm.get('password').errors.required">
              {{messageValidate.password.required}}
            </div>
            <div *ngIf="this.userForm.get('password').errors.minlength">
              {{messageValidate.password.minlength}}
            </div>
          </div>
          <div class="text-danger" *ngIf="!IsPasswordValid() && this.userForm.get('password').valid">
            {{messageValidate.password.inValid}}
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" required minlength="6" class="form-control"
            id="confirmPassword" placeholder="Confirm Password"
            [ngClass]="{'is-invalid' : this.userForm.get('confirmPassword').touched && !this.userForm.get('confirmPassword').valid}">
          <div class="text-danger"
            *ngIf="this.userForm.get('confirmPassword').invalid && this.userForm.get('confirmPassword').touched || this.userForm.get('confirmPassword').dirty">
            <div *ngIf="this.userForm.get('confirmPassword').errors?.required">
              {{messageValidate.confirmPassword.required}}
            </div>
            <div *ngIf="IsPasswordMatch()">
              {{messageValidate.confirmPassword.notMatch}}
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary"
          [disabled]="userForm.invalid || IsPasswordMatch() || !IsPasswordValid()">Reset Password</button>
        <script>
          $(".alert").alert();
        </script>
      </form>
    </div>
  </div>
</div>
